/* Background color and general styling */
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Widget Box */
.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* "Patient Scheduling" */
h1 {
  text-align: center;
  color: #333;
  margin-top: 0;
  font-size: 28px;
}

/* Widget */
#widget {
  margin-top: 20px;
  margin-bottom: 20px
}

/* Submit button */
button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
}

button:hover {
  background-color: #27822a;
  cursor: pointer
}

input{
  text-align: left;
}

/* Widget container */
.container {
  text-align: center;
}

div{
  font-family: Arial, sans-serif;
}

